<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thiagopaiva.bakingrecipes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RecipeStepListActivity"
            android:label="@string/title_recipe_step_list"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thiagopaiva.bakingrecipes.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.RecipeStepDetailActivity"
            android:label="@string/title_recipe_step_detail"
            android:parentActivityName=".activities.RecipeStepListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thiagopaiva.bakingrecipes.activities.RecipeStepListActivity" />
        </activity>

        <activity
            android:name=".activities.FullscreenPlayerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.RecipeStepDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="thiagopaiva.bakingrecipes.activities.RecipeStepDetailActivity" />
        </activity>

        <provider
            android:name=".data.RecipeContentProvider"
            android:authorities="thiagopaiva.bakingrecipes"
            android:exported="false"/>
    </application>
</manifest>